<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>
<form th:method="GET" th:action="@{/book/search}" >
<label for="nameOfBook">Введите поисковой запрос</label>
  <input type="text" name="nameOfBook" id="nameOfBook"/>
  <br/>
  <input type="submit" value="Искать">
</form>
<div th:if="${books!=null}">
    <div th:each="book:${books}">
        <p th:text="${book.getName()+', '+book.getAuthor()+','+book.getYear()}">Book's information</p>
        <p th:if="${book.getOwner()!=null}" th:text="'Книга сейчас у: ' +${book.getOwner().getFull_name()} ">Information about owner</p>
        <p th:if="${book.getOwner()==null}" th:text="'Книга свободна '">Information about owner</p>
    </div>
</div>
<div th:if="${books==null}">
    <p>Книг не найдено</p>
</div>
</body>
</html>